<div align="center" >
        <h5>INGRESE SU INFORMACION</h5>
    <form class="mt-4">
        <div class="inputs">
            <span class="p-float-label">
                <input id="float-input" type="text" pInputText> 
                <label for="float-input">Nombres</label>
            </span>
        </div>
        <div class="row">
            <div class="col-4 ms-3">
                <span class="p-float-label mt-4">
                    <input id="float-input" type="text" pInputText> 
                    <label for="float-input">Primer Apellido</label>
                </span>
            </div>
            <div class="col-4">
                <span class="p-float-label mt-4">
                    <input id="float-input" type="text" pInputText> 
                    <label for="float-input">Segundo Apellido</label>
                </span>
            </div>
        </div>
       <div class="inputs">
        <span class="p-float-label mt-4">
            Fecha de nacimiento
        </span>
        <p-calendar [showIcon]="true" inputId="icon"></p-calendar>
       </div>
<div class="row mt-3">
        <div class="col-6">
            <span>Sexo</span>
            <p-selectButton [options]="stateOptions" optionLabel="label" optionValue="value"></p-selectButton>
        </div>
        <div class="col-6">
            <span>Ciudad</span>
            <p-cascadeSelect [options]="countries" optionLabel="cname" optionGroupLabel="name" 
            [optionGroupChildren]="['states', 'cities']" [style]="{'minWidth': '7rem'}" placeholder="Select a City"></p-cascadeSelect>
        </div>
</div>

       
    </form>
    <button pButton pRipple type="button" label="Continuar" class="p-button-rounded p-button-sm p-button-outlined mt-4 w-100"></button>
    <div class="mt-2">
        <p>Ya tienes una cuenta?</p>
        <a routerLink="/auth/login"><p>Inciar sesion</p></a>
    </div>
</div>