.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
    padding-bottom: 1rem;
}

.logo {
    margin-bottom: 1rem;
}
.logo img{
    height: 100px;

}

.form {
    width: 100%;
}

.inputs {
    margin-top: 0.5rem;
}

.input-wrapper {
    position: relative;
}

.input-wrapper input {
    width: 100%;
    padding: 0.5rem;
    border: none;
    border-bottom: 1px solid #ccc;
}

.button {
    margin-top: 1rem;
    width: 100%;
    padding: 0.5rem;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}

.mt-5 {
    margin-top: 5rem;
}