.Lista1
{list-style: none;
}
.Listas2 
{ list-style: none;}
.Lista3
{list-style: none;
padding: 20px;
text-align: justify;}

.row{
    background-color: #4d787a;
    padding-top: 70px;
    padding-left: 100px;
    padding-right: 100px;
    width: 100%;
    margin: auto;
    color: white;
    font-size: 15px;
}
li{
    margin-top: 10px;
}
