<div *ngIf="!verificarCelular()" class="row mt-5" [style]="cambiarPadding()">
    <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6 col-sm-6 col-xs-12">
        <h3>Servicios</h3> 
        <ul class="Lista1" >
            <li><br></li>
            <li>Consulta Medica</li>
            <li>Odontología </li>
            <li>Emergencias </li>
            <li>Oftamología </li>
            <li>Medicamentos </li>
            <li>Análisis </li>
            <li>Internamiento </li>
            <li>Accidentes y Cáncer </li>
         </ul> 
    </div>
    <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6 col-sm-6 col-xs-12">
        <h3>Prestadores</h3>
        <ul class="Listas2">
            <li><br></li>
            <li>Punto Médico</li>
            <li>Salud Bucal</li>
            <li>Promed</li>
            <li>Clinica Ofmatologica SD</li>
            <li>Farmacard</li>
            <li>Hemoterapia </li>
            <li>Humano Seguro</li>
        </ul>
    </div>
    <div class="col-xxl-1 col-xl-1 col-lg-1 col-md-12 col-sm-12 col-xs-12"></div>
    <div class="col-xxl-5 col-xl-5 col-lg-5 col-md-12 col-sm-12 col-xs-12">
        <img src="../../../assets/img/horizontal.png" width="200"
            alt="no la carga imagen"><br>
            <ul class="Lista3">
                <li></li>
                <li> Medicard es una solución de servicios de salud provista por las empresas de Grupo Read que tiene más de 90 años llevando a los dominicanos atención médica de primera calidad.</li>
            <li><br></li>
            <li>809-948-4449</li>
            <li>809-200-9988 (Desde interior)</li>
            <li>info@medicard.com.do</li>
            <li><br></li>
            <li>© 2018 MEDICARD.</li>
            <li></li>
            <li>
                <a href="https://www.facebook.com/" target="_blank"><img width="30" src= "https://static.wixstatic.com/media/23fd2a2be53141ed810f4d3dcdcd01fa.png/v1/fill/w_23,h_23,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/23fd2a2be53141ed810f4d3dcdcd01fa.png"
                    alt="no carga"></a>
                <a href="https://www.instagram.com/" target="_blank">
                    <img width="30" src="https://static.wixstatic.com/media/6cc776af25744f77ab9c420b98d1abe6.png/v1/fill/w_23,h_23,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/6cc776af25744f77ab9c420b98d1abe6.png"
                       alt="no carga">
                </a>
        </li>
    </ul> 
</div>