<!-- app.component.html -->
  <app-navbar></app-navbar> <!-- Navbar se muestra en todas las páginas si mostrarNavbarYFooter es true -->
  <router-outlet></router-outlet> <!-- Aquí se renderizarán los componentes de las rutas -->
  <app-footer></app-footer> <!-- Footer se muestra en todas las páginas si mostrarNavbarYFooter es true -->


<div class="whatsapp-button">
    <a href="https://api.whatsapp.com/send?phone=+59177942010&text=Hola%2C%20le%20hablo%20desde%20el%20sitio%20web%20de%20Voy%20Con%20Vos" target="_blank">
      <i class="bi bi-whatsapp"></i> WhatsApp
    </a>
  </div>
