<div class="video-container">
    <video autoplay muted loop playsinline preload="auto">
      <source src="assets/videos/spot.mp4" type="video/mp4">
    </video>
    <div class="overlay">
      <img class="img-logo-home" src="assets/images/logo-voyconvos-transparente.png" alt="logo">
      <h1>VOY CON VOS</h1>
      <p>VOY CON VOS es la primera tarjeta de seguros medicos prepago</p>
      <p style="font-size: 15px;">Ahora podras disfrutar de los beneficios de nuestro servicio a nivel nacional</p>
      <div class="credit">
        <p>DISEÑADA POR <a href="https://www.emvsoft.com" style="color: #ff0000; text-decoration: none;">EMV-SOFT</a>. CODIFICADO POR <a href="https://www.emvsoft.com" style="color: #ff0000; text-decoration: none;">EMV-SOFT</a>.</p>
      </div>
    </div>
  </div>

  <div class="container-lista  bg-dark">
    <h2 class="text-center">¿Qué servicio ofrecemos?</h2>
    <ul class="list-unstyled mt-4 text-center">
      <li>
        <i class="bi bi-shield-fill-plus text-danger"></i> Asistencia al viajero para garantizar la tranquilidad durante tus aventuras.
      </li>
      <li>
        <i class="bi bi-cash text-danger"></i> Pequeña tarifa de 5 o 10 bolivianos para contar con asistencia médica y cobertura en clínicas privadas según el destino que elijas.
      </li>
      <li>
        <i class="bi bi-check2-circle text-danger"></i> Protección y atención en caso de cualquier emergencia médica durante tu viaje.
      </li>
    </ul>
  </div>
  <div class="container-info mt-5">
    <div class="row">
      <div class="col-md-6">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a9/Flag-map_of_Bolivia.svg/674px-Flag-map_of_Bolivia.svg.png" alt="Bolivia">
      </div>
      <div class="col-md-4 contenedor-info-derecha">
        <h2>¡Viaja tranquilo con nuestra asistencia médica!</h2>
        <p style="text-align: justify;">En nuestro servicio de asistencia medica prepago al viajero, nos aseguramos de estar a tu lado en cada paso del camino, brindándote la tranquilidad y la seguridad que necesitas para disfrutar de tus aventuras sin preocupaciones. Contamos con una amplia cobertura de gastos médicos en clínicas privadas en convenio con la empresa, adaptándonos a las necesidades de cada destino para que siempre estés bien protegido. ¡Confía en nosotros y disfruta al máximo de tus viajes!</p>
        <h3>VISIÓN:</h3>
        <p class="p-vision-mision" style="text-align: justify;">Ser reconocidos como la empresa líder en el mercado de asistencia medica prepago al viajero, por nuestra calidad de servicio, compromiso con la seguridad de nuestros clientes y por la satisfacción de sus necesidades durante sus viajes.</p>
        <h3>MISIÓN:</h3>
        <p class="p-vision-mision" style="text-align: justify;">En Voy Con Vos, nos enfocamos en brindar un servicio de asistencia medica prepago al viajero accesible y confiable, a partir de una tarifa asequible de 5 o 10 bolivianos, con una cobertura de hasta 1000 bolivianos en gastos médicos en clínicas privadas de convenios con nuestra empresa, durante un periodo de viaje acordado entre 3 a 7 días. Nuestro compromiso es garantizar la tranquilidad y seguridad de nuestros clientes, brindándoles la mejor atención médica y respaldo en caso de cualquier emergencia durante su viaje.</p>
      </div>
    </div>
  </div>