<div class="video-container">
  <video autoplay muted loop playsinline preload="auto">
      <source src="assets/videos/spot.mp4" type="video/mp4">
  </video>
  <div class="overlay">
      <div class="container mt-4" style="overflow:auto;">
          <div class="row benefits-container">
              <div class="col-md-4">
                  <div class="card text-center" style="background-color: transparent; border: none; text-align: justify;">
                      <div class="card-body">
                          <h2 class="" style="color: red;">BENEFICIO 1</h2>
                          <p class="card-text">Valor agregado al servicio: Ofrecer el servicio de asistencia médica al viajero de Voy Con Vos puede ser un valor agregado al servicio de transporte que ofertan las empresas. Esto puede ser un factor determinante para que los pasajeros elijan su servicio frente a la competencia.</p>
                      </div>
                  </div>
              </div>
              <div class="col-md-4">
                  <div class="card text-center" style="background-color: transparent; border: none; text-align: justify;">
                      <div class="card-body">
                          <h2 class="" style="color: red;">BENEFICIO 2</h2>
                          <p class="card-text">Fidelización de clientes: Al brindar un servicio de asistencia médica al viajero de calidad, las empresas de transporte pueden generar un mayor grado de satisfacción y fidelización en sus clientes.</p>
                      </div>
                  </div>
              </div>
              <div class="col-md-4">
                  <div class="card text-center" style="background-color: transparent; border: none; text-align: justify;">
                      <div class="card-body">
                          <h2 class="" style="color: red;">BENEFICIO 3</h2>
                          <p class="card-text">Mejora en la imagen corporativa: Al ofrecer un servicio de asistencia médica al viajero de calidad, las empresas de transporte pueden mejorar su imagen corporativa y ser percibidas como empresas responsables y comprometidas con la seguridad y bienestar de sus pasajeros.</p>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="credit">
          <p>DISEÑADA POR <a href="https://www.emvsoft.com" style="color: #ff0000; text-decoration: none;">EMV-SOFT</a>. CODIFICADO POR <a href="https://www.emvsoft.com" style="color: #ff0000; text-decoration: none;">EMV-SOFT</a>.</p>
      </div>
  </div>
</div>
