<div class="p-0 cont" style="background-color: '#E6E0DE'">
    <div>
        <p-card [style]="{'width': '100%', 'margin-bottom': '1em'}">
            <div class="informacion">
                <h2 class="pe-2"><span style="color: #43BAC1; font-size: 30px;">MEDI</span> <span style="color: #E62D28; font-size: 30px;">CARD</span> es la primera tarjeta en Bolivia que cuenta con beneficios y descuentos médicos, en las mejores clínicas privadas del país.</h2>
                <div class="row">
                    <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 citas">
                        <p>MEDICARD es una tarjeta de descuento medicos, fue creada para que todas las personas puedan tener acceso a la salud. MEDICARD tiene convenios con diferentes médicos, hospitales, centros de salud,
                            centros de diagnostico para que las personas que estén afiliadas con nosotros, puedan beneficiarse de nuestras ventajas y descuentos en todos los servicios.</p>
                        <p>Únete a la familia MEDICARD y forma parte de las personas que saben cuidar su salud.</p><br>
                        <p>¿Qué esperas para comprar tu MEDICARD?</p>
                        <button 
                        (click)="showResponsiveDialog()"  label="Show"
                        pButton style="width: 100%;" label="Registra tu tarjeta ahora"></button>
                    </div>
                    <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 p-4">
                        <iframe width="100%" height="335" src="https://www.youtube.com/embed/ZK9iP5PEhSU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>        </div>
                </div>
            </div>
        </p-card>
    </div>
    <div>
        <div class="row p-2">
            <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-12 col-sm-12 col-xs-12 p-4">
                <img width="100%" src="https://i.pinimg.com/originals/36/30/29/363029b3bbff4b9b9eb2bc4aca490adb.jpg" alt="persona">
            </div>
            <div class="col-xxl-9 col-xl-9 col-lg-9 col-md-12 col-sm-12 col-xs-12 p-5 animate__animated animate__pulse animate__infinite animate__slow">
                <div class="row">
                    <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12">
                        <p-card [style]="{'background-color': '#43BAC1', 'box-shadow': '2px 2px 20px'}">
                            <div class="consulta">
                                <p class="titulos">70% de descuento en la atención de consulta médica privada y con tratamiento ambulatorio en todas las especialidades médicas clínicas.</p>
                                <ul>
                                    <li *ngFor="let aten of atencion">
                                        {{aten}}
                                    </li>
                                </ul>
                            </div>
                        </p-card>
                    </div>
                    <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12">
                        <p-card [style]="{'background-color': '#43BAC1' , 'box-shadow': '2px 2px 20px'}">
                           <div class="beneficios">
                               <p class="titulos">30% de descuento en la internación hospitalaria médica y que necesiten cirugías:</p>
                               <ul>
                                
                                <li>
                                    Neurocirugía </li>
                                <li>
                                    Cirugía Cardiovascular</li>
                                <li>
                                    Neuropediatría</li>
                                <li>
                                    Cirugía General</li>
                                <li>
                                    Oftalmología </li>
                                    <li>
                                        Ginecología</li>
                                <li>
                                    Cirugía Pediátrica</li>
                                <li>
                                    Otorrinolaringología </li>
                                <li>
                                    Cirugía Plástica</li>
                                <li>
                                    Traumatología </li>
                                <li>
                                    Cirugía Torácica</li>
                                <li>
                                    Urología </li>
                            </ul>
                           </div>
                        </p-card>
                    </div>
                    <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12">
                                <p-card [style]="{'background-color': '#43BAC1', 'box-shadow': '2px 2px 20px'}">
                                    <div class="descuentos">
                                        <p class="titulos">70 % de descuento en las emergencias médicas que sean atendidas por nuestro personal de Ambulancia, Enfermería y Medicina General las 24 horas del día, los 365 días del año:</p>
                                        <ul>
                                            <li>
                                                Curaciones 
                                            </li> 
                                            <li>
                                                Inyectables 
                                            </li> 
                                            <li>
                                                Sueros 
                                            </li>     
                                            <li>
                                                Transporte de Ambulancia 
                                            </li> 
                                            <li>
                                               Médico General
                                            </li> 
                                                
                                        </ul>
                                        <p class="titulos">70 % de descuento en las siguientes pruebas y/o exámenes:</p>
                                        <ul>
                                            <li>Laboratorios</li>
                                            <li>Radiografías</li>
                                            <li>Ecografías</li>
                                            <li>Endoscopías</li>
                                            <li>Audiometrías</li>
                                            <li>Electrocardiogramas</li>
                                        </ul>
                                    </div>
                                </p-card>
                       
                    </div>
                </div>
                
                    
                    <!-- <div align="center">
                        <button 
                        (click)="showResponsiveDialog()"  label="Show"
                        style="width: 50%; margin-top: 20px; " pButton label="REGISTRA TU TARJETA!"></button>
                    </div> -->
            </div>
           
        </div>
        <div>
            <div class="p-5 contenedor">
               <h2 align="center">Clinicas con las que trabajamos</h2>
               <div class="row mt-5">
                   <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6 col-sm-6 mt-1 col-xs-6">
                       <img src="../../../assets/img/aranjuez.jpeg" alt="aranjuez">
                   </div>
                   <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6 col-sm-6 mt-1 col-xs-6">
                       <img src="../../../assets/img/belga.jpeg" alt="belga">
                   </div>
                   <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6 col-sm-6 mt-1 col-xs-6">
                       <img src="../../../assets/img/copa.jpeg" alt="copa">
                   </div>
                   <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6 col-sm-6 mt-1 col-xs-6">
                       <img src="../../../assets/img/elias.jpeg" alt="elias">
                   </div>
               </div>
               <div class="row mt-4 mb-3">
                   <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 mt-1 col-sm-6 col-xs-6">
                        <img src="../../../assets/img/lirios.jpeg" alt="lirios">
                   </div>
                   <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 mt-1 col-sm-6 col-xs-6">
                        <img src="../../../assets/img/med.jpeg" alt="med">
                   </div>
                   <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-6 mt-1 col-xs-6">
                        <img src="../../../assets/img/red.jpeg" alt="red">
                   </div>
               </div>
            </div>
        </div>
        <div class="bg-light">
            <div class="row m-0 p-5">
                <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 mt-5">
                    <h3>En la app de <span style="font-size: 30px; color:#43BAC1">MEDICARD</span></h3>
                    <h3>puedes encontrar:</h3>
                     <ul style="list-style: none;">
                         <li>
                           &checkmark; Acceso a la red médica y de descuentos.
                         </li>
                         <li>
                           &checkmark; Acceso a promociones limitadas especiales
                         </li>
                         <li>
                           &checkmark; Ambulancia las 24 horas
                         </li>
                         <li>
                            &checkmark; Y lo mejor, ¡tu tarjeta la tienes en tu app!
                         </li>
                     </ul>
                     <span>Llamada a medicos certificados. Envio de ambulancia, Doctor a domicilio, Promociones especiales y Codigos de descuento</span>
                </div>
                <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 mt-5 mb-3">
                    <div class="row">
                        <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
                            <img width="350" src="https://cdn-icons-png.flaticon.com/512/35/35220.png" alt="img">
                        </div>
                        <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
                            <img width="350" src="https://cdn-icons-png.flaticon.com/512/35/35220.png" alt="img">
                        </div>
                    </div>
                </div>
            </div>
            <div class="mt-5 p-5 info">
                <div class="mt-5">
                    <h3 align="center">Es muy fácil adquirir tu <span style="font-size: 30px; color:#E62D28">MEDICARD</span> y resivir descuentos en todas las especialidades en clínicas privadas y mucho más! </h3>
                    <h5 align="center" class="mt-4">Es muy sencillo ser parte de la familia de <span style="font-size: 30px; color:#E62D28">MEDICARD</span></h5>
                </div>
                <div class="row mt-5">
                    <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12">
                        Adquiere tu tarjeta MEDICARD
                    </div>
                    <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12">
                        Entra a la app y registrate con el código de la tarjeta    
                    </div>
                    <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12">
                        ¡Comienza a disfrutar de todos los beneficios!
                    </div>
                </div>
                <div align="center" class="mt-2">
                    <button 
                    (click)="showResponsiveDialog()"  label="Show"
                    class="p-button-danger" style="width: 40%; margin-top: 20px" pButton label="REGISTRA TU TARJETA!"></button>
                </div>
            </div>
        </div>
    </div>
</div>

<p-dialog header="Registro de Usuario" [(visible)]="displayResponsive" [modal]="true" [style]="cambiarResolucionModal()"
    [draggable]="true" [resizable]="false">
    <app-registro-tarjeta></app-registro-tarjeta>
</p-dialog>