.card{
    background-color: red;
}
.contenedor, .info{
    background-color: #43BAC1;
    color: white;
}
li{
    font-size: 21px;
}
span{
    font-size: 12px;
}
.cont{
    overflow-x: hidden;
}
.informacion{
    width: 80%;
    margin: auto;
}
.citas{
    padding-right: 40px;
    padding-top: 20px;
    margin-left: 0px;
}
.beneficios{
    padding-bottom: 150px;
}
.consulta{
    padding-bottom: 25px;
}
.descuentos{
    padding-top: -100px;
}
.mt-5 > .col-3{
    height: 150px;
}
.mb-3 > .col-4{
    height: 150px;
}
li{
    font-size: 17px;
    color: white;
}
.col-xxl-6 > ul > li{
    color: black;
}
.titulos{
    font-weight: bold;
    color: white;
}
/* .col-xxl-3 > img{
    width: 100%;
    height: 100%;
    margin: auto;
}
.col-xxl-4 > img{
    width: 80%;
    height: 90%;
    margin: auto;
} */
img{
    width: 200px;
    height: 100px;
    margin: auto;
}

